body {
    background: #eee;
    margin: 50px;
}

.container {
    padding: 30px;
    border: 1px solid lime;
    overflow: hidden;
    position: relative;
    height: 640px;
}

/*Styling and animation magic*/

.slider {
    padding: 20px;
    background: pink;
    border: 1px solid hotpink;
    height: 50%;
    width: 100%;
    position: absolute;
    left: 0;

    /* Increase of decrease animation speed here:
        e.g.,   faster: transition: transform .1s ease;
                slower: transition: transform .9s ease; */

    -webkit-transition: -webkit-transform .4s ease;
    -moz-transition: -moz-transform .4s ease;
    -ms-transition: -ms-transform .4s ease;
    transition: transform .4s ease;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.sliderDown {
    top: 350px;
}

.sliderUp {
    top: 0;
}

.logoUp {
    position: absolute;
    left: 500px;
    bottom: 270px;
    }

    .logoUp img {
        height: 150px;
    }

    /* Logo should animate slower than slider to maintain layout
    Increase of decrease animation speed here:
        e.g.,   faster: transition: transform .1s ease;
                slower: transition: transform .9s ease; */
    .logo-slider {
    -webkit-transition: -webkit-transform .6s ease;
    -moz-transition: -moz-transform .6s ease;
    -ms-transition: -ms-transform .6s ease;
    transition: transform .6s ease;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    }

    .sliderUp.opened {
        -webkit-transform: translate(0, -100%);
        -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        transform: translate(0, -100%);
    }

    .logoUp.opened {
        -webkit-transform: translate(0, -240%);
        -moz-transform: translate(0, -240%);
        -ms-transform: translate(0, -240%);
        transform: translate(0, -240%);
    }

    .sliderDown.opened {
        -webkit-transform: translate(0, 100%);
        -moz-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%);
    }
